.heyContainer
    position: absolute
    top: 0
    left: 10em
    height: 100%
    width: 30%
    background-color: transparent
    display: flex
    flex-flow: column wrap
    align-items: center
    opacity: 1
    transition: left 0.2s
.heyDisappear
    transition: opacity 0.2s
    opacity: 0
.moveHeyRight
    left: 20em
.currentWorkButton
    position: absolute
    left: 22.5em
    top: 5em
    z-index: 2
    font-family: 'Karla'
    width: 20em
    height: 5em
    border: 2px solid white
    border-radius: 10px
    color: white
    p
        font-size: 1.5em
        margin: 0
    &:hover
        background-color: white
        color: black
.greeting
    position: relative
    top: 15em
    background-color: transparent
    width: 100%
    height: 60%

    h1
        font-family: 'Karla'
        font-size: 3em
        font-weight: 600
        color: white
        margin: 0
    h2
        position: relative
        font-family: 'Karla'
        font-size: 1.5em
        font-weight: 400
        color: white
        margin: 0
.socialMediaSection
    position: relative
    top: 2em
    left: -5em
    width: 25em
    height: 20%
    background-color: transparent
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    align-items: center
    a
        top: 5em
        position: relative
        width: 15%
        height: 100%
        filter: invert(100%)

$gradient: linear-gradient( 90deg, hsl(333deg 93% 56%) 0%, hsl(315deg 66% 59%) 10%, hsl(273deg 62% 66%) 20%, hsl(228deg 77% 69%) 30%, hsl(205deg 80% 55%) 40%, hsl(193deg 100% 42%) 50%, hsl(205deg 80% 55%) 60%, hsl(228deg 77% 69%) 70%, hsl(273deg 62% 66%) 80%, hsl(315deg 66% 59%) 90%, hsl(333deg 93% 56%) 100% )

.socialMediaNoFilter
    filter: none !important
.gradient
    background-image: $gradient
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    background-size: 200%
    animation: moveGradient 3s linear infinite
    font-weight: bold
@keyframes moveGradient
    0%
        background-position: 0% center
    100%
        background-position: 200% center

#TUDelftLink 
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%