#projectContentContainerID
    position: absolute
    top: 13em
    left: 10em
    width: 0
    height: 0
    opacity: 0
    transition: opacity 0.3s, width 1s, height 1s
    background-color: transparent
    border: 2px solid white
.projectContentContainerExpand
    width: 80% !important
    height: 70% !important
    opacity: 1 !important
