@tailwind base
@tailwind components
@tailwind utilities
html
    margin: 0
    min-height: 100vh
    
body
    margin: 0
    min-width: 320px
    min-height: 100vh
    background-color: black
    overflow: hidden
    position: absolute
div#root
    min-height: 100vh
    margin: 0

$basePurple: #7209b7
$accentPink: #f72585
$delftBlue: #00A6D6